<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Тестовое задание</title>
    <link rel="stylesheet" type="text/css" href={% static 'css/style.css'%}/>
    <link rel="stylesheet" type="text/css" href={% static 'css/jquery.ui.css'%}/>
    <script src={% static 'js/jquery.min.js'%}></script>
    <script src={% static 'js/jquery.ui.js'%}></script>
    <script src={% static 'js/jquery.cookie.js'%}></script>
</head>
<body>
<div class="left-nav">
    {% block sheets %}
    {% endblock %}
</div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>