{% extends 'base.html' %}

{% block sheets %}

    <h1>Таблицы</h1>
    <ul>
        {% for table in tables %}
            <li><a href="#" class="tablelink" id="{% url 'table-content' table.1 %}">{{ table.0 }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}

{% block content %}

    <table id="activetable"></table>

    <script>
        $(document).ready(function () {
            var csrftoken = $.cookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $('.tablelink').click(function () {
                $.get($(this).attr('id'), function (data) {
                    fillTable(data.tablename, data.fields, data.tabledata);
                });
            });

            function parseClasses(element) {
                var arrClasses = element.attr('class').split(' ');
                var celltype = '';
                var cellname = '';
                for (elClass in arrClasses) {
                    if (arrClasses[elClass] == 'int' || arrClasses[elClass] == 'char' || arrClasses[elClass] == 'date') {
                        celltype = arrClasses[elClass];
                    } else {
                        cellname = arrClasses[elClass];
                    }
                }
                return {type: celltype, name: cellname};
            }

            function sendNewValue(tableName, fieldName, rowId, valueNew) {
                $.post({% url 'table-post' %}, {table: tableName, field: fieldName, object_id: rowId, value: valueNew});
            }

            function onCellClick(element) {
                var value = element.text();
                var cellProps = parseClasses(element);
                var celltype = cellProps.type;
                var cellname = cellProps.name;

                if (cellname == 'id') {
                    return;
                }

                element.unbind('click');
                element.empty();
                element.append('<input type="text" id="inp" name="' + cellname + '" class = "' + celltype + '" value = "' + value + '"/>');

                if (celltype == 'date') {
                    $('#inp').datepicker();
                    $('#inp').datepicker('option', 'dateFormat', 'yy-mm-dd');
                    $('#inp').datepicker("setDate", value);
                }

                $('#inp').change(function (event) {
                    var table = $('#activetable');
                    var tableName = table.attr('class');
                    var rowId = element.parent().children('.id').text();
                    var previousValue = event.currentTarget.defaultValue;
                    var parent = $(this).parent();
                    var valueType = $(this).attr('class');
                    var valueNew = $(this).val();
                    var fieldName = $(this).attr('name');
                    parent.empty();

                    if (valueType == 'int') {
                        if (isNaN(valueNew)) {
                            valueNew = previousValue;
                        }
                    }

                    sendNewValue(tableName, fieldName, rowId, valueNew);

                    parent.text(valueNew);
                    parent.click(function () {
                        onCellClick($(this));
                    });
                });


            }

            function fillTable(tablename, fields, tabledata) {
                var table = $('#activetable');
                table.attr('class', tablename);
                //clean table
                table.empty();
                //table headers
                var headers = '<tr>';
                var field = null;
                for (field in fields) {
                    headers += '<th>' + fields[field].verbose_name + '</th>';
                }
                headers += '</tr>';
                //table rows
                var rowdata = null;
                var rows = '';
                tabledata = JSON.parse(tabledata);
                for (rowdata in tabledata) {
                    var row = '<tr>';
                    for (field in fields) {
                        var cellvalue = '';
                        if (fields[field].name == 'id') {
                            cellvalue = tabledata[rowdata]['pk'];
                        } else {
                            cellvalue = tabledata[rowdata].fields[[fields[field].name]];
                        }
                        row += '<td class = "' + fields[field].name + ' ' + fields[field].type + '">' + cellvalue + '</td>';
                    }
                    row += '</tr>';
                    rows += row;
                }
                table.html(headers + rows);

                $('td').click(function () {
                    onCellClick($(this));
                });

            }

        });
    </script>
{% endblock %}